<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Code Express</title>
    <link href="~//Assets/images/icon.png" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/Site.css")" />
    <script src="~/Content/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img class="rounded-circle" width="50" height="50" src="~/Assets/images/icons8-communicate-96.png" alt="Logo" />
        @Html.ActionLink("Ankitkumar Singh", "Index", "Assignment1", new object { }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Assignment-1", "Index", "Assignment1", new object { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Assignment-2", "Index", "Assignment2", new object { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Assignment-3 & 4", "Index", "Assignment3", new object { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Assignment-5", "Index", "Assignment4", new object { }, new { @class = "nav-link" })
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>





    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>


    <footer class="footer bg-primary footer-content">
        <div class="container">
            <span>© @DateTime.Now.Year All rights reserved. </span>
        </div>
    </footer>
</body>
</html> 