@model IEnumerable<BusinessLayer.Guest>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Assignments";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@* Page to show (list) deatils of all guest from database using Ado.  *@
    <div class="bs-docs-section">
        <div class="container">
            <div class="page-header">
                <h1 id="tables">List of guest. (Using Ado)</h1>
            </div>
            <div class="bs-component table-responsive ">
                <table class="table table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WillAttend)
                        </th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        @if (item.WillAttend == true)
                        {
                            <td class="table-success">Yes</td>
                        }
                        else
                        {
                            <td class="table-danger">No</td>

                        }
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.GuestId }, new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.GuestId }, new { onclick = "return confirm('Are you sure you want to delete?')", @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
